.gly-spin {
    -webkit-animation: spin 2000ms infinite linear;
    -moz-animation: spin 2000ms infinite linear;
    animation: spin 2000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

legend {
    font-size: 1.5em;
    text-align: center;
}

.container {
    margin-top: 8em;
    width: 90%;
}

.btn-creation {
    margin-top: 10px;
    width: auto;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

#video {
    display: none;
    width:auto; 
    height:fit-content;
}

.table {
    font-size: x-large;
}

td {
    word-break: break-all;
}

div.jumbotron {
    display: none;
    margin: 20px 0px;
    width: 640px;
}

div.jumbotron h2 {
    font-size: 3.5em;
    
}
